[2020-12-30 09:41] fsuste opened #2 "Add comments to ads"
We should add comments to ads.
Comments should require no login and have 2 fields - Name and body, Name should be persisted in the session for the next 2 weeks.

[2020-12-30 11:21] markopavlovic opened #6 "Add Email to the ad creation form"
It would be very useful to have an email contact when the ad is being created.

[2020-12-30 11:22] markopavlovic opened #7 "Add address input to the ad creation form"
We could use an exact address vs. only city to help people navigate, then we can hyperlink the location to google maps when displaying ads.

[2020-12-30 11:30] markopavlovic opened #8 "New creation type: report damage and repair requirements"
Would be very useful if we can have those who can help with damage repairs post their services or those who have suffered the damage to report and ask for specific repair requirements and locations.

[2020-12-30 11:34] grozdanowski commented on #6
Another useful feature involving email - add logic where one can remove the ad using an email magic link. That way expired/used ads can be removed without auth.

[2020-12-30 11:42] fsuste commented on #6
@grozdanowski we currently have no mailing support, but we will try to add it!

[2020-12-30 13:42] fsuste commented on #8
Claimed by @dejanbj

[2020-12-30 16:02] #6 closed

[2020-12-30 16:02] #7 closed

[2020-12-30 16:06] markopavlovic commented on #2
claimed by @fsuste

[2020-12-30 16:14] #8 closed

[2020-12-30 16:18] roja95 opened #14 "Add a section with links to other useful resources"
There are a number of sites offering help to those who suffered in the earthquake and often these sites have links to other sites which are offering the same kind of help. For example https://docs.google.com/document/d/15kSw0O1jtZYTeLh3jZg2XeGFbNbavIBsA0u_PvK8YRs has a link to http://potres.herokuapp.com/ among others so it would be great if they were listed here as well.

[2020-12-30 16:56] vlado commented on #14
Sound good. Let's add the link.

[2020-12-30 16:59] roja95 commented on #14
here is a simple version https://github.com/vlado/earthquake-croatia/pull/15

[2020-12-30 17:31] scandal47 opened #17 "Add permalink for each ad"

[2020-12-30 17:33] markopavlovic opened #18 "Mobile view tags are cut off"
![image](https://user-images.githubusercontent.com/1666889/103370576-6ea52580-4acd-11eb-85ef-72116115a551.jpeg)

[2020-12-30 17:34] scandal47 opened #19 "Add reCAPTCHA confirmation before creating new ads"

[2020-12-30 17:35] scandal47 commented on #19
Also add it to new feature for commenting of ads once it is merged and deployed

[2020-12-30 17:38] scandal47 opened #20 "Create docker-compose file for project setup"

[2020-12-30 17:59] berislavbabic commented on #17
On it

[2020-12-30 18:24] scandal47 commented on #20
On it ...

[2020-12-30 19:40] berislavbabic opened #24 "Add a clickable google maps link to every post"
When we display an ad, there should be a clickable icon with the link to google maps where the offer/request actually is.

[2020-12-30 19:40] berislavbabic commented on #24
I'm on this one

[2020-12-30 19:44] #18 closed

[2020-12-30 20:04] #19 closed

[2020-12-30 20:30] shime commented on #24
:fire:

[2020-12-30 23:23] #20 closed

[2020-12-31 08:00] #14 closed

[2020-12-31 08:02] vlado opened #31 "Improve filtering"
Option to select more cities at once or to filter by county (Županije). Filtering by county will require us to add new db field and to add counties for existing entires.

[2020-12-31 08:04] vlado opened #32 "Organize JS code"
I suggest we move existing (https://github.com/vlado/earthquake-croatia/blob/master/app/javascript/packs/application.js) and write future javascript code in stimulus controllers.

[2020-12-31 08:30] markopavlovic opened #33 "Test Issue"
notification tesst

[2020-12-31 08:30] #33 closed

[2020-12-31 08:48] mmorava opened #35 "Add ability to request help"
after reading some posts on Facebook groups I think it would be a great idea to have ability to put an ad for requesting a help.

App would then have 2 sections , "help requests" and "help offerings"

WDYT?

[2020-12-31 08:51] mmorava opened #36 "Improve ad UI and styling"
At the moment I feel like ads are not quite readable. I would suggest we

1) Present ads in a grid view for better styling while keeping in mind it needs to be mobile first orianted as most of the users probably come from mobile

2) Use some different bootstrap theme with better contrast

[2020-12-31 08:51] vlado commented on #35
I like the idea. Others?

It was already suggested in Slack channel (by @shime I think).

[2020-12-31 08:53] mmorava opened #37 "Setup domain"
I suggest we setup a more human-readable domain like for example pomocupotresu.com . If project lead agrees I volunteer to buy and setup it

Also we should then setup site to be HTTPS only and setup a https certificate through heroku as some browsers maybe prevent users from reaching the site over http.

[2020-12-31 08:55] mmorava opened #38 "Organize a Trello board"
I suggest we organize a Kanban for this project, probably thorough Trello as it is the most simple solution to sign up and manage.

We should use trello instead of Github issues to  create a project backlog, discuss tasks before execution and follow the tasks through executions. If author agrees i will take care of setting up a board

[2020-12-31 08:56] mmorava commented on #31
I can take care of this, please assign this issue to me so and I will start working on it ASAP

[2020-12-31 08:56] vlado commented on #36
Improvements are welcome for sure.

We are using Bulma https://bulma.io. Let us know what theme you prefer.

[2020-12-31 09:00] vlado commented on #37
I was thinking that this would be helpful in other crisis also (floods, ...) so I think we need more general name. Like `kriza.hr`, Flow and Form team is also working on some naming and branding ideas.

I'm waiting response from Carnet if we can get `.hr` domain for free.

[2020-12-31 09:01] markopavlovic commented on #38
@mmorava added https://github.com/vlado/earthquake-croatia/projects/1
I think should be enough and we'd prefer it to have as much as possible in a single place.
Thoughts?

[2020-12-31 09:02] vlado commented on #38
I agree with @markopavlovic, let's keep thins simple and in one place.

[2020-12-31 09:02] #38 closed

[2020-12-31 09:06] #17 closed

[2020-12-31 09:14] mmorava commented on #37
@vlado  I was thinking the same way however as I know it takes time to get a proper domain name I thought of this as a quick improvement and later on we can always set up 301 redirect to the new "permanent" domain name?

[2020-12-31 09:28] #24 closed

[2020-12-31 09:43] markopavlovic opened #39 "Create a footer with helpful links and about"
I think it would be a good idea to add a footer with helpful links and a statement, something along these lines:
"This application is an open-source project where anybody can join and contribute, this is a humanitarian aid project and our only intention is to help those affected by the earthquake."

- Would be also good to add the same in our `README.md`
- Site should probably say this also in Cro

[2020-12-31 09:51] vlado opened #40 "Click to copy does not work in Safari"
Click to copy does not work in Safari. Maybe in other browsers too. I only tested Chrome and Safari.

[2020-12-31 09:54] vlado commented on #37
We should have `.hr` domain today probably.

[2020-12-31 09:59] mmorava commented on #36
I had a look at https://bulmathemes.com/ and I didn't find anything that would impress me.

Maybe to use https://bulma.style/imperial/dist/ui-elements.html and customize it a bit to have better contrast as a lot of older people would be using the app

[2020-12-31 10:10] vlado opened #42 "Error tracking"
Since our test coverage is not that good :trollface: I suggest we add some error tracking (Sentry or similar).

[2020-12-31 10:14] vfonic opened #43 "Add a list of organizations that accept help/donations"
This could facilitate the matchmaking between those who want to help and those who need help (read: those who are helping on the spot):
- Crveni Križ
- Zaklada Ana Rukavina
- whoever...

After some time passes, we might be able to make a list of all the needs for families who lost pretty much everything. We'd know exactly how much each family needs and how much of that goal is already donated/matc

[2020-12-31 10:14] vfonic commented on #35
I love the idea!

We could build on top of that by adding goals, for example, if it's financial aid (that's the easiest), we could have something like on crowdfunding websites.

...which lead me to: Add a list of organizations that accept help/donations #43

[2020-12-31 10:21] vlado opened #44 "Should we add Rubocop?"
There are lot of us now and Rubocop could save time when reviewing PRs. I hope this will not turn into which rules to use war :)

[2020-12-31 10:30] vlado opened #45 "Add a list of valid IBANS for donations"

[2020-12-31 10:39] vfonic commented on #44
Let's add it and setup CI.

We should pick some config and just stick to it.
If anyone has a really good reason to add/change/remove a rule, then let's hear it.

I don't see anyone complaining about using Bulma. I'm ok if you just pick one config and we stick to it from now on.

[2020-12-31 10:53] Macxim commented on #36
I can help with this 🙋

[2020-12-31 10:54] vlado commented on #36
Thanks @Macxim

[2020-12-31 11:29] mmorava commented on #35
OK cool then @vlado  if you can assign to me i will try to write up some tech design doc and send it for a review. once we agree on tech design I'll begin working on implementation

[2020-12-31 11:44] shime commented on #35
@mmorava I already have a plan on how to this. Can I take this one or would you like to?

[2020-12-31 11:46] shime commented on #40
Works on my machine™. Tested in Chrome, Firefox and Safari.

[2020-12-31 11:48] mmorava commented on #35
Let's not slow things down then feel free to take it and I'll take something else

[2020-12-31 11:49] shime commented on #35
@mmorava thanks!

[2020-12-31 11:55] mmorava commented on #31
@vlado  sorry i unassigned myslef by mistake please add me again :)

[2020-12-31 12:12] vfonic opened #51 "Add links to Hrvatski Crveni Križ"
We should add a link to Hrvatski Crveni Križ website:
https://www.hck.hr/
And/or to any of its subpages:
https://www.hck.hr/kako-pomoci/volontirajte/29

We should probably convert the list of links at the bottom of the page to its own page with all the links.

[2020-12-31 12:30] Xenosb opened #52 "Only icon inside of 'Lokacija na karti' is clickable"
As a user I'd like to click anywhere inside of the action button
As a user, I'd like to have the whole button change color when hovered over

![image](https://user-images.githubusercontent.com/1616329/103410564-2c7ef100-4b6c-11eb-9630-4b1bf24e0af2.png)

[2020-12-31 12:31] markopavlovic commented on #52
👍 cc @vlado

[2020-12-31 12:34] markopavlovic commented on #51
👍
Should be done within https://github.com/vlado/earthquake-croatia/issues/39 or along the branch.

[2020-12-31 12:37] Xenosb opened #54 "Limit the number of displayed pages in pagination"
As a user I'd like to have only one row on pagination

My proposal is to have `1``2``3`...`99`.

Screenshot from iPhone 7
![IMG_EE51B95253D8-1](https://user-images.githubusercontent.com/1616329/103410741-f9892d00-4b6c-11eb-95f4-a0e69ff2120f.jpeg)

[2020-12-31 12:38] vlado commented on #40
Works on my machine now also :)

I had an javascript error locally (deps not installed).

[2020-12-31 12:38] #40 closed

[2020-12-31 12:38] Xenosb opened #55 "Limit the number of displayed ads per page"
As a user I'd like to have fewer ads per page (20)

[2020-12-31 12:42] vlado commented on #31
Done

[2020-12-31 12:44] Xenosb opened #56 "Move useful links to a more suitable location"
As a user I'd like to see useful links and documents first or as a link to separate page/div

Currently, user needs to scroll through 50 ads to see the useful links/docs. With #55 this would be a bit better but not solved. My recommendation would be to add a 🍔 menu and a separate page or a link at the top which leads to the div.

![IMG_EE51B95253D8-1](https://user-images.githubusercontent.com/1616

[2020-12-31 12:49] vlado commented on #52
👍

[2020-12-31 13:08] shime commented on #44
Closed by 61d94262672e9384801.

This config shouldn't be too strict.

[2020-12-31 13:08] #44 closed

[2020-12-31 13:16] #52 closed

[2020-12-31 13:20] shime opened #58 "Stop using inline styles"
Instead of adding `style="margin-bottom: 40px"` and similar, we should use Bulma's helpers like `class="mb-3"`.

[2020-12-31 13:21] Macxim commented on #58
Can I take this one?

[2020-12-31 13:22] shime commented on #58
Yup, please go ahead.

[2020-12-31 13:27] vlado commented on #56
We need some general idea for menu/navbar.

[2020-12-31 13:30] Macxim commented on #58
Done!

[2020-12-31 13:57] #32 closed

[2020-12-31 14:23] markopavlovic commented on #37
`pomozi.hr` is reserved now for us

[2020-12-31 14:25] vlado commented on #37
We have potres-petrinja.hr also. Will take care of it now.

[2020-12-31 14:32] markopavlovic commented on #39
Our Manuela made the statement copy in Eng. and Cro.

**English**
 This application is an open-source humanitarian project where everyone can participate and contribute. The sole purpose of this application is to help earthquake victims in the areas of Glina, Sisak, Petrinja, and surrounding villages and settlements.
 The app’s function serves as an advertisement platform among those who offer and

[2020-12-31 14:42] scandal47 opened #64 "Add share to buttons for permalinks - Facebook, Whatsapp, Twitter ..."
We should add it next to "Kopiraj poveznicu na oglas"

[2020-12-31 14:59] #54 closed

[2020-12-31 14:59] #55 closed

[2020-12-31 15:38] fsuste commented on #2
This still needs some work, there is a PR active here
https://github.com/vlado/earthquake-croatia/pull/34

[2020-12-31 16:25] markopavlovic commented on #37
@vlado shoild we move this to done for now?

[2020-12-31 16:30] vlado commented on #37
Let's wait for https://github.com/vlado/earthquake-croatia/pull/65 to be merged.

[2020-12-31 16:48] #37 closed

[2020-12-31 17:03] shime commented on #58
Thanks!

[2020-12-31 17:03] #58 closed

[2020-12-31 17:44] vfonic opened #66 "Invisible captcha triggers after validation fail form resubmission"
I didn't tick the confirmation checkbox and validation failure triggered. I then ticked the checkbox and proceeded to submit the form. I was redirected to ads index as usual, except that no new ad was created!

https://user-images.githubusercontent.com/67437/103420535-0c652700-4b98-11eb-9aa4-edc0f5430600.mov

[2020-12-31 19:50] Macxim opened #69 "Add real hero section"
I have a suggestion. I'll post something quickly.

[2020-12-31 20:01] Macxim commented on #69
Thoughts?

<img width="1440" alt="Screen Shot 2020-12-31 at 20 00 25" src="https://user-images.githubusercontent.com/1909957/103424190-daa58d80-4ba2-11eb-8c77-ef81cffbf224.png">

[2021-01-01 08:39] vlado commented on #69
Thanks!

👍 Let's see what others say.

[2021-01-01 12:19] shime commented on #69
I like it! Looks better than what we currently have.

[2021-01-01 12:39] vlado opened #72 "Domain change broke the site"
Just realised that adding the ads after domain change was not working.

Found this in the logs

[code]

[2021-01-01 12:40] vlado commented on #72
After switching back to `potres.herokuapp.com` as canonical url everything works again.

[2021-01-01 13:23] Macxim opened #73 "Replace FontAwesome icon font with SVG"
We're loading tons of CSS only for using a single icon.
I can take care of it.

[2021-01-01 17:32] Macxim opened #75 "Toastr notification readability should be improved"
The notification text is barely visible/readable when there is text underneath.

![image](https://user-images.githubusercontent.com/1909957/103443409-f0748a80-4c56-11eb-81f3-54fd53843b53.jpeg)

[2021-01-01 20:01] scandal47 commented on #72
Is Cloudflare SSL set up to "Flexible", because in that case Cloudflare connects to Heroku server via HTTP to serve content, but end user is viewing HTTPS and sends HTTPS request so there is mismatch between those. You can setup Cloudflare to use "Full" SSL so Cloudflare connects to Heroku via HTTPS.
https://support.cloudflare.com/hc/en-us/articles/200170416-End-to-end-HTTPS-with-Cloudflare-Part-3

[2021-01-01 21:35] vlado commented on #42
Link to Sentry https://sentry.io/organizations/earthquake-croatia

[2021-01-01 21:35] #42 closed

[2021-01-01 23:07] #39 closed

[2021-01-02 01:56] vlado commented on #72
Thanks @scandal47

Switch to "Full (Strict)" fixed it. Forgot to check that in a hurry. We are running on www.potres-petrinja.hr again.

[2021-01-02 01:56] #72 closed

[2021-01-02 09:41] shime commented on #73
There's a good collection at https://heroicons.com/.

[2021-01-02 09:56] Macxim commented on #73
Those are the ones I usually use as well. Great minds...

[2021-01-02 10:05] #69 closed

[2021-01-02 10:42] vlado opened #81 "Option to edit/delete Ad"
Option to delete the ad after it is not relevant any more (Possible solution: send a "Click here to remove entry" link to the mail user left).

[2021-01-02 11:39] #35 closed

[2021-01-02 11:43] #73 closed

[2021-01-02 16:16] #56 closed

[2021-01-02 19:56] Xenosb opened #86 "Add FAB instead of 'Dodaj oglas'"
As a user I'd like to have a FAB (Floating Action Button) to offer/request help
As a user, when I click FAB, I'd like it to spawn offer and request buttons as children

This makes `Dodaj oglas` button on index obsolete
This makes `Tip oglasa` field on ad/new obsolete

[2021-01-02 19:59] Xenosb opened #87 "Hide tabs and links when adding new ad"
As a user, I'd like not to see tabs and external links when adding new ad

![image](https://user-images.githubusercontent.com/1616329/103465579-6c490280-4d3d-11eb-8b3c-ee5170da966d.png)

[2021-01-02 20:08] markopavlovic commented on #87
I think this is fine, but if we remove it, I propose having some sort of a "back" button or something to lead the user back to the ads - maybe this should be a part of the header also?

[2021-01-02 20:10] Xenosb commented on #87
Don't we trust to back button on browser? :'(

On Sat, 2 Jan 2021 at 21:08, Marko Pavlovic <notifications@github.com>
wrote:

[2021-01-02 20:26] markopavlovic commented on #45
@vlado how do we define "valid IBAN", what is the rule for validity?

[2021-01-02 20:32] markopavlovic commented on #81
@vlado I like the idea of having the option to manage your ad - but I think we all don't like the idea of needing to register. Maybe we can have accounts and reduce friction by having the registration with only "email" + "password" fields in the ad creation form (Dodaj oglas)? Email field we already have, so only password should be added and email made mandatory.

In which case when you are submit

[2021-01-02 21:33] berislavbabic opened #90 "Make hero a bit smaller, it takes half the fold on a 15" screen"
Hero is too tall, it should take less screenspace

<img width="1673" alt="image" src="https://user-images.githubusercontent.com/418219/103466994-9f45c300-4d4a-11eb-8cd9-52552755b3c1.png">

[2021-01-02 21:43] vlado commented on #45
I suppose IBAN that is confirmed by some authority. Not sure how to check that.

Maybe we should drop this?

[2021-01-02 21:53] Macxim commented on #90
Easy as removing the `is-medium` class here: https://github.com/vlado/earthquake-croatia/blob/1fbcfcd5dd0bb400679b3b5d18bdccf4b44e8aba/app/views/layouts/application.html.erb#L26

Can you take it?

[2021-01-02 22:05] berislavbabic commented on #90
yup, I'm on it

[2021-01-02 22:10] vlado commented on #81
Here is an idea.

Here are the step:

1. We add a hint to the email field on new ad form "Email is not required but if you do not enter it you will not be able to edit and/or remove your ad"
2. When ad is created we generate the token, save it to the database and send it in email to the user (Thanks for adding the ad, here is a token that you will need to edit/remove the ad).
3. When displaying th

[2021-01-02 22:15] vlado commented on #81
Just checked and Mailgun Heroku add-on offers 400 emails per day for free. That should be enough.

Another thing we need to add is background processing for sending emails (Sidekiq or maybe someone has other preferences).

[2021-01-02 22:16] #90 closed

[2021-01-02 22:22] vlado commented on #87
There is a cancel button ("Odustani") next to the submit button. Maybe title could be the link to the root path.

[2021-01-02 23:02] vlado opened #92 "Improve city filter"
Apart from @vfonic work on https://github.com/vlado/earthquake-croatia/pull/41 we should also extend city select with some autocomplete/search dropdown plugin.

I couldn't find anything specific. Recommendation/Implementation welcome :)

[2021-01-03 00:27] vfonic commented on #92
I looked a bit into this and found these couple of existing solutions (some are incomplete):
https://codepen.io/mitsuki/pen/PvqyKJ - mostly only UI for search box (w/ bulma) within the dropdown
https://buefy.org/documentation/autocomplete/ - bulma + vue.js solution
https://github.com/mattmezza/bulmahead - this seems like the most complete solution. We'd still need some backend search and I think i

[2021-01-03 00:57] dejanbj commented on #92
We could try to use select2 plugin for this purpose maybe? I can check how easy it is to integrate in current setup.
For cities and also states (županije)  found this https://github.com/loureirorg/city-state

[2021-01-03 08:32] mmorava commented on #92
I can take care of this as part of #31

[2021-01-03 09:21] vlado commented on #92
@mmorava I would like to have this on production ASAP and I think this should be simpler then https://github.com/vlado/earthquake-croatia/issues/31, we can easily merge the effort then.

https://github.com/loureirorg/city-state looks great, @mmorava can we use that, did you already found other solution?
I used select2 before and know it was easy to integrate but not sure does it match bulimia styl

[2021-01-03 10:39] vlado commented on #81
Wanted to answer but forgot last night. I think this one is pretty simpler solution. I would only like to avoid password. I know a lot of people who easily give up (stating with my wife :)) when they see that they need one more password to remember.

[2021-01-03 10:42] vlado opened #94 "Search field"
Let's collection ideas for a simplest search we could build.

* PG full text search
* Elasticsearch
* Simple AND and/or OR in SQL :)
* ...

[2021-01-03 10:45] vlado opened #95 "Remove jQuery"
We are including jQuery https://github.com/vlado/earthquake-croatia/blob/master/app/views/layouts/application.html.erb#L10 and I think it is only used here https://github.com/vlado/earthquake-croatia/blob/master/app/javascript/controllers/filter_controller.js#L32-L38

Should be easy to remove it.

[2021-01-03 13:19] vlado commented on #92
I just checked https://github.com/loureirorg/city-state locally and it works ok but it has few drawbacks. You can get list of states:

[code]
And then you can get city list for each county

[code]
This is the county where I am and it is missing a lot of villages. Another drawbacks are missing postal codes and Croatian letters are not used.

Alternative could be to use data from here https://www.po

[2021-01-03 13:59] vfonic opened #97 "Setup staging and possibly have PRs auto-deploy as Heroku Review Apps"
https://devcenter.heroku.com/articles/github-integration-review-apps#review-apps-management-and-costs

TBH I never set this up, but it looks like it's possible to have review apps run on free dyno hours on Heroku. Might be worth to look into for easier testing of PRs, especially smaller PRs such as this one (where you can skip git-pulling the code changes locally, running the server, etc.): https:

[2021-01-03 14:09] vlado opened #98 "Sync with https://potres2020.openit.hr/"
https://potres2020.openit.hr/ is an app that is meant for government and expert to coordinate where the help is needed. It is built using Ushahidi. Open source web application for information collection, visualization and interactive mapping. It helps you to process that information, categorize it, geo-locate it and publish it on a map.

They have a lot of data that we could pull in our app (cron/

[2021-01-03 14:23] vlado commented on #97
Good idea 👍 Let's investigate what is possible and how much will it cost.

Tile then, with [hub](https://hub.github.com) `brew install hub` you can easily checkout the PR locally with `hub pr checkout 84` (where 84 is PR id).

[2021-01-03 14:27] markopavlovic commented on #98
@vlado Happy to help! Since we were and will be getting more and more of these requests and initiatives to sync with other platforms - one idea on top of my mind is if we would get up a proxy API that would be holding all our ads with unique ids and a unified model, then anybody can build its own system to push/pull data from it?
It would definitely be some overhead to do it, but it would ensure w

[2021-01-03 14:31] vfonic opened #99 ""Odustani" button next to filters doesn't work"
https://www.potres-petrinja.hr/ads?kind=&service=Smje%C5%A1taj&city=Zagreb+&commit=Filtriraj#

Click on "Odustani". I believe this should remove any applied filters.

This button is...wrongly named or not really useful.

It's really confusing for me. I just realized it resets ("Odustani"? 🤔) the form back to the last applied filters (the ones that are in the browser URL).

I think better UX would

[2021-01-03 14:31] vlado commented on #98
👍 Like for building the API.

I think It would even be easier to build API on our side then using potres2020 API cause it is a bit messy but unfortunately they just installed the software and do not have a way to code something that would pull from other apps.

[2021-01-03 14:34] vfonic commented on #97
Yeah, that accounts that you:
1) Don't have any other changes working on
2) Have the DB prepared for testing those changes (maybe you need to run migrations?)
2a) Have some specific data in the DB that should be tested?
3) Have all the new gems and npm packages installed

I think we agree. :) Let me know if I can help somehow (I'd need some permissions for that though.)

[2021-01-03 15:09] vlado commented on #97
Yes, it is not optimal but it works. Database is always problematic in this situations. There are 2 approaches that I used.

### Approach 1

* `hub pr checkout 84`
* `bin/rails db:drop db:create db:schema:load db:seed`

### Approach 2

* Have a db dump in state before changes in `tmp/some_state.dump`
* `hub pr checkout 84`
* `bin/rails db:drop db:create`
* `pg_restore --verbose --clean --no-acl --

[2021-01-03 15:19] vfonic opened #100 "Someone is using Ad space to place an ad (pun intended) for https://potres2020.openit.hr/"
https://www.potres-petrinja.hr/ads?kind=&service=&city=NOVI+OGLASI+NA+OVU+STRANICU&commit=Filtriraj

This should be removed.

[2021-01-03 19:52] mmorava commented on #92
@vlado  have look at #102 that can be used to power filters like this. We can use  gem as a temp solution

[2021-01-03 21:03] berislavbabic commented on #81
Maybe we don't need to send the token immediately, but only if they want to edit/delete it?

Or we ask for the email, if it's the same one, we email them the edit link with the token entered? `/ad/123?token=foobarbaz`

I guess same thing for removing the ad

[2021-01-03 21:23] berislavbabic commented on #98
We have to make sure we don't pull the ads we already have, be it with the combination of phone number/city or something similar and/or having a uuid that we'd generate on our side and store there when we create new ones via their api?

Also I think we'll have to start geotagging our ads properly (with gmaps api or something similar, which will add overhead costs to the project if we have to start

[2021-01-03 21:33] vlado commented on #81
Yes, that should also work. Maybe it is event better cause we need to send less emails :)

[2021-01-03 22:07] vlado commented on #98
Implementing the gmaps api doesn't look difficult https://gorails.com/episodes/google-maps-places-autocomplete-with-rails?autoplay=1 only question is pricing.

[2021-01-03 22:34] berislavbabic opened #103 "Implement google maps autocomplete and geotag ads"
We should implement google maps autocomplete, and store the proper ad location (lat/lon) in our database. This way we will make it easier to sync with other relief apps that only have the location stored.

How to do it in rails:
https://gorails.com/episodes/google-maps-places-autocomplete-with-rails?autoplay=1

[2021-01-03 22:40] vlado commented on #103
Let's see if finances will allow this.

[2021-01-03 23:00] vfonic commented on #103
Gmaps Places API says we have $200 free monthly usage and "Geocoding - Convert addresses to and from geographic coordinates" = $5/1000 requests. Which gives us 40k requests/mo. That should do it.

I've also used Mapbox (for displaying the map), but I haven't tried their Geocoding API.

[2021-01-03 23:14] vfonic commented on #92
Keep in mind if we use select2, looks like we'll need jQuery as select2 is a jQuery plugin: https://select2.org/

Then this issue will become an issue: Remove jQuery #95 :)

[2021-01-03 23:16] vfonic commented on #94
I've used [pg_search](https://github.com/Casecommons/pg_search) gem and it does magic. It uses its own db table (AR model) to manage the metadata that even allows for storing additional info and multiple records metadata so you can search across multiple models (think: Products, Events, Real-estate, what-have-you)

It's easy enough to setup and no additional services needed.

[2021-01-03 23:41] vfonic commented on #103
Speaking of geo-related functionality, I always add `'activerecord-postgis-adapter'` and `'rgeo-geojson'` gems, together with `'postgis'` heroku extension (available on all plans).

This gives us consistent GeoJSON format stored in the database and also queries like this one:
[code]

[2021-01-03 23:45] vlado commented on #94
@vfonic will take care of this

[2021-01-03 23:54] vlado commented on #103
I haven't worked on geo-related stuff much. Maybe year ago we had to do some simple geo search and we used https://github.com/geokit/geokit-rails cause it was easier to setup.

It requires just 2 columns in the db (lat, lng) and queries look like this `Location.within(5, :units => :kms, :origin => [50.9438245, 6.9400448])`

[2021-01-03 23:58] vfonic commented on #94
Which db fields should the search cover?
Everything? description, city, zip, address, category, kind, email and phone?

I think we could narrow this down to:
description, city, address, category and kind

I'd say that when building search index, we probably shouldn't include kind, but will only filter by kind (`Ad.where(kind: params[:kind]).search(params[:query])`), right?

Another issue is: what

[2021-01-04 00:07] Macxim commented on #103
That would be awesome to have, not only to have more accurate data but also to sync with other projects like Berislav said.

[2021-01-04 00:14] vlado commented on #94
Email definitely not (we do not show it anyway). Not sure about phone, only valid reason to index it would be if someone wants to find his ad by phone (probably unlikely).

Maybe someone will enter `smještaj osijek` without selecting kind. Is it a problem to have it in index?

Maybe we can ask @mmorava to keep it in ads table then. We use `City.all` to build select box but we save both city_id and

[2021-01-04 00:30] vlado commented on #95
Let's wait with this. We will probably use `select2` for cities select and it requires jQuery.

[2021-01-04 00:31] vlado commented on #92
You are right. Added comment to that issue.

[2021-01-04 18:25] vlado commented on #81
I'll try to implement this tonight

[2021-01-04 20:19] radanskoric commented on #81
Btw, this can easily later be extended to have registration like Wolt has it. I don't if you used Wolt but they don't have passwords. On the web, if you want to log in they always send you a link to the e-mail and when you follow it you're logged in with a session. Once the session cookie is lost or you log out you have to go through the e-mail again.

[2021-01-04 22:20] vlado commented on #81
Never used Wolt but I get the idea :) Nice to have you here @radanskoric

[2021-01-05 00:12] vlado commented on #100
Removed

[2021-01-05 00:12] #100 closed

[2021-01-05 07:52] radanskoric commented on #81
Sendgrid free tier gives 12000 per month which is the same as 400 per day but since it's per month it's probably better because max number of e-mail will probably be right now and it will drop as time goes: https://elements.heroku.com/addons/sendgrid

[2021-01-05 09:04] #75 closed

[2021-01-05 12:46] manuelapasaric opened #109 "Add the IG pages to external links"
https://www.instagram.com/svi_za_petrinju/
https://www.instagram.com/za_petrinju_i_sisak/
https://www.instagram.com/petrinjasisak/

[2021-01-05 22:37] vlado opened #111 "Test coverage"
We all know that our test coverage is not great :) and I think we need to do something with it. It is getting hard to develop new features cause there is no feedback if we broke something.

I suggest we start fixing this by writing just few hight level system test, list ads, new ad, ...

[2021-01-06 12:44] #81 closed

[2021-01-06 15:34] vlado commented on #97
We have Heroku pipelines now so closing this.

[2021-01-06 15:34] #97 closed

[2021-01-06 15:54] vlado opened #112 "Add link to potres-help.com and sync data with them"
* Add link to potres-help.com
* Pull data from https://potres-help-map.herokuapp.com/api/v1/post
* Expose our data via simple json API

[2021-01-06 17:38] #36 closed

[2021-01-06 18:50] bbozo opened #114 "Can you point me to ushahidi integration code in the repo?"
Sorry, don't have a better comm channel :-) I'm working on a data federation platform that should allow data integration between various services that sprouted - see Potres IT telegram group,

It'll be a rails project and I'll invite you guys to participate if you like :heart:

[2021-01-06 18:54] vlado commented on #114
Hi Borna, we do not have any ushahidi integration code yet. Our database schema can be seen here https://github.com/vlado/earthquake-croatia/blob/master/db/schema.rb

[2021-01-06 20:18] radanskoric commented on #111
I can get that started. The earthquake consequences will stretch for many months and that's long enough for the an investment in tests to pay off.

Do we have any preference for the framework? I usually use RSpec but to keep it simple I'm also ok with sticking to vanilla Rails setup.

[2021-01-06 21:24] vlado commented on #111
Great

I'm also for vanilla Rails and keeping things simple 👍

[2021-01-06 22:14] radanskoric opened #117 "Gather reasons for deletion of an ad"
Now that we have a concept of ad deletion I suggest that it would be useful to gather the reasons for deleting an ad. This information would be valuable in assessing how useful the app is and what needs to be improved to make it more useful.

The way it would work is that on the page where user needs to confirm page deletion there is also a dropdown where they can select the reason for deletion wh

[2021-01-06 22:28] Macxim opened #119 "Empty state message when no results are returned from the filters"

[2021-01-06 22:29] vlado commented on #114
Hi @bbozo, I just went through the Potres2020IT telegram group and from what I see the platform and the specs are not yet defined. I saw that someone suggested that we could take over the development of the "middleware" for connecting all the apps.

I think we have great developers here and I'm pretty sure that we could build something great. But there is one problem, time. I've spent my whole vac

[2021-01-06 22:31] Macxim opened #120 "A dropdown should close once another one is open"
We shouldn't be able to open multiple dropdowns.

<img width="989" alt="Screen Shot 2021-01-06 at 22 29 25" src="https://user-images.githubusercontent.com/1909957/103826470-cb28b780-506e-11eb-92b8-02eee51957dc.png">

[2021-01-06 22:52] vlado commented on #117
Like it!

[2021-01-06 22:53] vlado commented on #117
Also like you idea to send an email asking if ad is still relevant after some time. Not sure if we already have issue for that?

[2021-01-07 08:56] radanskoric commented on #117
No, I didn't create an issue for that yet. I'll do that now. But I'd like to do that right after this so we get maximum information out of it.

[2021-01-07 09:08] vfonic commented on #95
Let's close this and focus on other things in the meantime. We use select2 which is a jQuery plugin so we can't remove it just like that.

[2021-01-07 09:11] radanskoric opened #121 "Send a message to the ad author 2 days afterwards to check if the ad is still relevant"
In order to ensure that only relevant ads remain I suggest we send a followup e-mail 2 days after the ad has been created asking the author if the ad is still relevant.

This is the suggested text of the e-mail which I think also clarifies the value of the feature:

"Poštovani,

Dana DD.MM.YYYY objavili ste oglas: link

U svrhu toga da ova stranica bude korisna i da pomoć dođe tamo gdje je potrebn

[2021-01-07 09:13] vfonic commented on #111
I vote for RSpec. And for frontend specs, I'd even recommend [Cypress](https://www.cypress.io/). It's possible to integrate it with Rails backend. There are two actively maintained gems that offer this integration.

But I'm ok with minitest and/or anything else (Capybara, etc.).

[2021-01-07 09:13] radanskoric commented on #95
I agree and also for this particular project we maybe even want jQuery. I know it's not modern and it's on its way out but it still has the largest amount of well crafted UI libraries relying on it. From a pragmatic point of view we probably want to keep it anyway.

Closing it.

[2021-01-07 09:13] #95 closed

[2021-01-07 11:54] vlado commented on #117
Agreed

[2021-01-07 16:53] vfonic commented on #66
I reported this to invisible_captcha repo, so I'll close this issue here.

https://github.com/markets/invisible_captcha/issues/81

[2021-01-07 16:53] #66 closed

[2021-01-07 16:54] vfonic commented on #92
@vlado is this fully implemented? Should we close this?

[2021-01-07 20:34] vlado commented on #92
Yes, we can close it.

[2021-01-07 20:34] #92 closed

[2021-01-07 22:13] radanskoric commented on #111
I had some issues getting js system tests running under Test::Unit. I was probably missing something stupid since for the last 8 years I've been exclusively using RSpec.

Anyway, I switched to the setup I'm used to: Rspec + Capybara and I had it working in 5min since I'm familiar with it so I went with in the MR: https://github.com/vlado/earthquake-croatia/pull/122. :)

[2021-01-07 23:47] Macxim opened #123 "[Feature] Add ability to report an ad"
If it violates the app's terms of use/ content is inappropriate, etc.

[2021-01-08 01:48] dpoldrugo commented on #98
Hi guys!
You can use this to receive events from potres2020: [Potres2020 Event Subscription API](https://documenter.getpostman.com/view/130981/TVzPkdLT)

As far as I know there is still a problem with syncing back to potres2020 with your data, but if you store the potres2020 post id along your post, the back-sync can temporarily be done via a [Integromat](https://www.integromat.com). If you send t

[2021-01-08 11:52] mmorava commented on #123
@vlado  i can take over this if its ok with @Macxim  ?

[2021-01-08 11:54] mmorava commented on #121
I love the idea, @radanskoric  will you develop it, if you are busy I can take over this one

[2021-01-08 12:01] radanskoric commented on #121
I plan to develop it, I just want to first finish the PR I started for tests and CI. I know for sure I will not have time today to get started on this one so if you have time sooner go for it.

Just note, I was planning on having that done after https://github.com/vlado/earthquake-croatia/issues/117.

[2021-01-08 16:10] vlado commented on #98
Thanks @dpoldrugo

We will check it out.

[2021-01-08 16:17] vlado commented on #123
@Macxim is it ok with you if @mmorava works on this?

[2021-01-09 11:33] Macxim commented on #123
Yes, please go ahead 😉

[2021-01-09 20:54] #111 closed

[2021-01-09 21:02] radanskoric commented on #117
I'll get started on this now.

[2021-01-12 09:31] radanskoric commented on #121
@mmorava if you still want to, feel free to take this ticket. I opened an MR to implement #117 (https://github.com/vlado/earthquake-croatia/pull/125) but it's not very likely I'll have time to do this ticket today or tomorrow.

To avoid the complexity of a background processor I think we can simply keep this as a nightly rake task and run it with scheduler addon: https://elements.heroku.com/addons

[2021-01-12 12:41] vlado commented on #121
Agreed, scheduler should be fine.

[2021-01-12 16:00] vlado opened #127 "City select is broken on ad edit page"
Since we are using remote data for city select in ad form current city is not preselected.

[2021-01-12 16:04] vlado commented on #127
By looking at https://select2.org/data-sources/ajax#default-pre-selected-values, option with selected city should be added.

[2021-01-12 20:31] #127 closed

[2021-01-12 21:28] #117 closed

[2021-01-14 20:01] radanskoric commented on #121
I'll get started on this.

[2021-01-15 09:39] vlado commented on #121
Great!

[2021-01-19 21:17] #121 closed

[2021-02-16 11:25] vfonic opened #134 "The website is down"
I tried to access the site and I got this error page. I also tried https://potres.herokuapp.com/ with same results.

<img width="1792" alt="Screen Shot 2021-02-16 at 12 24 47" src="https://user-images.githubusercontent.com/67437/108056749-fa5d1c00-7051-11eb-92b2-0e36ce79cc6e.png">

[2021-02-16 12:04] vlado commented on #134
@vfonic Thanks for reporting. Will have a look.

[2021-02-18 12:50] vlado commented on #134
Since traffic is supper low lately I switched the app to free dynos. Since SNI SSL is not supported on free dynos Strict SSL setting was not working any more. Fixed it by switching to Flexible setting.

[2021-02-18 12:50] #134 closed, assigned to nobody